# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ Idea config files
.idea

# Ignore vscode files
.vscode
.settings
bin
.classpath
.project
